.dashboard {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.conatiner {
    background-color: #222327;
    padding: 40px 55px;
    border-radius: 15px;
    width: auto;
    height: auto;
}

.cards {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;

  .card {
    background-color: #0d1117fa;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 0.1);
    flex: 1;


    h2 {
        font-size: 16px;
    }

    P {
        font-size: 25px;
        font-weight: 200;
    }
  }
}

.spending {
background-color: #0d1117fa;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 0.1);
  width: 100%;
  height: auto;
  margin-bottom: 2em;

  h2 {
    margin-bottom: 1rem;
    font-weight: bold;
  }

  ul {
    list-style: none;
    padding: 0;

    .spendingItem {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
      border-bottom: 1px solid #ddd;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.error {
  color: red;
  padding: 1rem;
  text-align: center;
}

.loading {
  padding: 1rem;
  text-align: center;
}
