.footer__logo
    display: flex
    justify-content: space-evenly
    width: 11%
    margin-bottom: 2em

.logo__h1
    color: #fff
    font-size: 40px

.footer__informacoes
    display: flex
    justify-content: space-evenly
    width: 100%

.footer__titulo
    font-size: 18px

.desenvolvedor
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 2em

.desenvolvedor__nome
    font-size: 16px
