@import '../Sass/mixins'
@import '../Sass/variables'
    
.div
    display: flex
    justify-content: space-between

.div__logo
    display: flex
    justify-content: space-evenly

.div__logo img

    @include respond-to(xxlarge) 
      width: 70px

    @include respond-to(xlarge) 
      width: 70px

    @include respond-to(large) 
      width: 50px

    @include respond-to(small) 
      width: 40px
      height: 40px
    
.div__h1
    color: #fff
    font-size: 40px
    margin-top: 7px

    @include respond-to(xlarge) 
      font-size: 35px

    @include respond-to(small) 
      font-size: 30px

.div__li
    font-weight: 500
    font-size: 18.6px
    margin-left: 2.5em 

    @include respond-to(xlarge)
      margin-left: 1.5em 

.menu
    width: 74%
    display: flex
    align-items: center
    justify-content: flex-end
    gap: 2

    @include respond-to(xlarge)
      justify-content: center
     

.menu__usuario
    margin-left: 1em
    width: 24%
    display: flex
    align-items: center
    justify-content: space-evenly

    @include respond-to(xlarge) 
        width: auto

    @include respond-to(small) 
      width: 52%

.usuario__login
    background-color: transparent
    padding: 5px 20px
    border-radius: 15px
    height: 60%
    font-size: 16px
    border: 1px #292644 solid
    &:hover
        background-color: #221f43
        border-radius: 14px

.usuario__sing
    background-color: #221f43
    border: none
    height: 60%
    padding: 5px 30px
    border-radius: 17px
    font-size: 17px
    margin-left: 1em
    &:hover
        background-color: #221f4363
        border-radius: 14px
        border: 1px #292644 solid

    @include respond-to(xlarge) 
        padding: 5px 15px
        width: 100px

