.div
    display: flex
    justify-content: space-between

.div__logo
    display: flex
    justify-content: space-evenly

.div__h1
    color: #fff
    font-size: 40px
    margin-top: 7px

.div__ul
    display: flex
    justify-content: space-evenly
    width: 80%
    height: 40px
    align-items: center

.div__li
    font-weight: 500
    font-size: 18.6px


.menu
    width: 70%
    displey: flex
    justify-content: space-evenly

.menu__usuario
    margin-left: 1em
    margin-top: 1em
    width: 35%
    displey: flex
    justify-content: space-evenly

.usuario__login
    background-color: transparent
    padding: 10px 20px
    border-radius: 15px
    font-size: 16px
    border: 1px #292644 solid
    &:hover
        background-color: #221f43
        border-radius: 14px

.usuario__sing
    background-color: #221f43
    border: none
    padding: 10px 30px
    border-radius: 17px
    font-size: 17px
    margin-left: 1em
    &:hover
        background-color: #221f4363
        border-radius: 14px
         border: 1px #292644 solid
