@use '../Sass/mixins' as mixins;
@use '../Sass/variables' as vars;

.div {
  display: flex;
  justify-content: space-between;
}

.div__logo {
  display: flex;
  justify-content: space-evenly;

  img {
    @include mixins.respond-to(xxlarge) {
      width: 70px;
    }
    @include mixins.respond-to(xlarge) {
      width: 70px;
    }
    @include mixins.respond-to(large) {
      width: 50px;
    }
    @include mixins.respond-to(small) {
      width: 60px;
      height: 60px;
    }
  }
}

.div__h1 {
  color: #fff;
  font-size: 40px;
  margin-top: 7px;

  @include mixins.respond-to(xlarge) {
    font-size: 35px;

    @include mixins.respond-to(small) {
      font-size: 30px;
    }
  }
}

.div__li {
  font-weight: 500;
  font-size: 18.6px;
  margin-left: 2.5em;

  @include mixins.respond-to(xlarge) {
    margin-left: 1.5em;
  }
}

.div__menu {
  display: flex;
  width: 100%;
}

.menu {
  width: 74%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2;

  @include mixins.respond-to(xlarge) {
    justify-content: center;
  }
}

.menu__icon {
  display: none;
}

.menu__item {
  margin: 8px 15px;
  font-size: 20px;
}

.menu__usuario {
  margin-left: 3em;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 1em;

  @include mixins.respond-to(small) {
    width: 52%;
  }

  @include mixins.respond-to(xlarge) {
    width: auto;
  }
}

.usuario__login {
  background-color: transparent;
  padding: 12px 25px;
  border-radius: 15px;
  font-size: 16px;
  border: 1px #292644 solid;

  &:hover {
    background-color: #221f4363;
    border-radius: 14px;
    border: 1px #292644 solid;
  }
}

.usuario__sing {
  background-color: #221f43;
  border: none;
  padding: 15px 30px;
  border-radius: 17px;
  font-size: 17px;
  width: 137px;
  margin-left: 1em;

  &:hover {
    background-color: #221f4363;
    border-radius: 14px;
    border: 1px #292644 solid;
  }
}
