@use '../Sass/variables';
@use '../Sass/mixins' as mixins;

.main__title {
  margin-left: 0.50em;
  margin-bottom: 1em;
  font-size: 20px
}

.container {
      background-color:#2b2f35;
      padding: 25px 0px;
      display: flex;
      border-radius: 25px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.income {
   width: 97%;
  display: flex;
  flex-wrap: nowrap;    
  justify-content: space-evenly;

  // Responsive changes
  @media (max-width: 768px) {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  @media (max-width: 480px) {
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
  }
}


.income__contener {
  width: auto;
  margin: 0px 15px;

  // Responsive changes

  @media (max-width: 480px) {
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
  }
}

.total_income {
  width: auto;
  height: 150px;
  background: #0d1117fa;
//   border: 2px solid;
  border-radius: 15px;
  padding: 15px;
  & h2 {
    font-size: 20px;
    margin-bottom: 0.5em;
  }

  & h3 {
    margin: 7px 0 10px 0;   // corrected "0p" to "0"
    font-size: 30px;
    margin-bottom: 0.2em;
  }
}

.dialog {
  background: #0d1117fa;
  height: 150px;
  border-radius: 15px;
//   border: 2px solid #4b4e59;
  padding: 15px;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dialog span {
      margin-top: 0.6em;
      margin-left: 1em;
}

