@import '../Sass/variables.sass'
@import '../Sass/mixins.sass'

.main__title
      margin-left: 0.50em
      margin-bottom: 1em

.income
      display: flex
      flex-wrap: no-wrap
      justify-content: space-evenly

.income__contener
      width: 25%
      margin: 0px 15px

.total_income
      width: 88%
      background: #282941
      height: 150px
      border-radius: 15px
      padding: 15px

      & h2
            font-size: 20px
            margin-bottom: 0.5em

      & h3
            margin: 7px 0p 10px 0px
            font-size: 30px
            margin-bottom: 0.2em

.dialog
      background: #282941
      height: 150px
      border-radius: 15px
      padding: 15px
      margin-top: 2em

.lastTransactions
      width: 95%
      margin-left: 0.7em
      background: #282941
      height: auto
      border-radius: 15px
      padding: 15px
      margin-top: 2em

.lastTransactions__dates
      display: flex
      flex-direction: column
      justify-content: space-evenly
      margin: 15px 0px

      & span
            width: 100px
            text-align: start

      & div
            display: flex
            justify-content: space-evenly
            margin-bottom: 2em

      & h3
            width: 100px
