.main 
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly
    height: auto

.main__apresentacao
    display: flex
    flex-direction: column
    width: 100%
    align-items: center
    justify-content: space-evenly
    padding: 0px 0px 70px 0px
    
.main__h1
    width: auto
    margin: 5px 0px 0px 0px
    padding: 10px 0px 0px 0px
    font-weight: 500 
    font-size: 45px
    font-weight: bold
    color: #9fa0c7

.h1__span
    color: #585add

.apresentacao__informacoes
    width: 100%
    display: flex
    height: auto
    align-items: center
    flex-direction: column
    justify-content: center

.main__button
    background-color: #283f7e
    border: #0c0c0c 1px solid
    padding: 10px 15px
    border-radius: 15px
    font-size: 17px 
    margin: 10px 0px
    width: 33%

.main__img
    width: 90%
    height: 620px
    border: 1.5px solid #293444
    border-radius: 12px
    margin: 30px 0px

.main__funcionalidades
    @extend .main
    padding: 80px 0px
    background-color: #56567521
    width: 100%
    border-radius: 10px
    height: auto

.funcionaliddaes__h2
    width: auto
    font-weight: 500 
    font-size: 45px
    margin-bottom: 1em
    font-weight: bold
    color: #9fa0c7

.h2__span
    color: #585add

.funcionalidades__contener
    display: flex
    justify-content: space-evenly
    align-self: center
    flex-wrap: wrap

.contener__gastos
    width: 45%
    margin-bottom: 1em
    background-color: #5b607930
    border-radius: 10px
    padding: 20px 20px

.contener__gastos_div
    @extend .contener__gastos
    background-color: transparent

.gastos__div
    background-color: #585add
    width: 3px
    border-radius: 6px
    margin: 0px 5px
    height: 25px

.gastos__titulos
    display: flex
    align-items: center
    justify-content: flex-start
    font-size: 21px
    
.titulos__img 
    width: 35px
    margin-right: 6px
    margin-left: 1em

.titulo__p
    background-color: #5b607930
    border-radius: 10px
    padding: 20px 20px
    line-height: 25px


.gastos__h3
   @extend .main__h1
   width: auto
   font-size: 24px

.contener__gastos p
   font-size: 18px

.precos
    width: 100%
    padding: 60px 0px
    display: flex
    flex-direction: column
    align-items: center

.precos__h4
    @extend .funcionaliddaes__h2
    width: auto

.precos__div
    display: flex
    justify-content: space-evenly

.precos__informacoes
    width: 50%

.informacoes__h4
    font-weight: 500 
    font-size: 30px
    font-weight: bold

.informacoes__p
    font-size: 18px
     line-height: 25px
    margin-block-start: 0.5em
    margin-block-end: 0.5em

.informacoes__titulo
    color: #585add
    font-weight: 400 
    font-size: 25px
    margin-top: 1em
    margin-bottom: 0.5em

.informacoes__contener
    @extend .funcionalidades__contener
    justify-content: flex-start

.contener__funcionalidades
    display: flex
    width: 44%
    justify-content: space-center
    align-items: center
    margin-left: 1em
    margin-bottom: 1em 

.contener__funcionalidades h4
    font-size: 18px

.contener__funcionalidades img 
    margin-left: 7px

.informacoes__preco
    background-color: #212737f2
    width: 30%
    padding: 40px 0px
    display: flex
    flex-direction: column
    align-items: center

.preco__p
    font-weight: 400 
    font-size: 25px
    margin-bottom: 1em

.preco__valor
    font-weight: 600 
    font-size: 35px
    margin-bottom: 1em
    color: #585add

.preco__button
    @extend .main__button
    width: auto
    padding: 10px 56px

.perguntas
    margin-top: 1.6em
    padding: 80px 0px
    background-color: #2e2f4580
    width: 100%
    border-radius: 10px
    height: auto
    display: flex
    flex-direction: column
    align-items: center

.perguntas__h4
    @extend .funcionaliddaes__h2
    margin-bottom: 0.3em
    width: auto

.h4__span
    color: #585add

.perguntas__p
    @extend .informacoes__p
    width: 85%
    text-align: center
    margin-block-start: 0em
    margin-block-end: 2em

.perguntas__contener
    display: flex
    width: 100%
    flex-wrap: wrap
    margin-top: 18px
    justify-content: space-around

.contener__gedf
    @extend .contener__gastos
    background-color: #00000036
    width: 28%
    line-height: 26px

.gedf__titulo
    display: flex
    justify-content: space-between

.gedf__titulo h5
    font-size: 22px

.gedf__p
    font-weight: 400 
    font-size: 20px
    margin-bottom: 1em

.contener__seguranca
    @extend .contener__gedf

.seguranca__titulo
    @extend .gedf__titulo

.titulo__h5
    @extend .main__h1
    width: auto
    font-size: 30px

.titulo__img
    width: 20px
    height: 20px

.contener__significado
    @extend .contener__gedf

.significado__titulo
    @extend .gedf__titulo

.contener__preco
    @extend .contener__gedf

.preco__titulo
    @extend .gedf__titulo

.contener__conta
    @extend .contener__gedf

.conta__titulo
    @extend .gedf__titulo
    
.footer
    margin-top: 35px
    padding: 20px 0px 8px 0px
    display: flex
    height: 250px
    justify-content: space-evenly



