.main 
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly
    height: auto

.main__apresentacao
    display: flex
    justify-content: space-evenly
    
.main__h1
    width: auto
    font-weight: 500 
    font-size: 45px
    font-weight: bold

.h1__span
    color: #585add

.apresentacao__informacoes
    width: 30%
    display: flex
    flex-direction: column
    justify-content: center

.main__button
    background-color: #283f7e
    border: #0c0c0c 1px solid
    padding: 10px 15px
    border-radius: 15px
    font-size: 17px 
    margin: 10px 0px
    width: 60%

.main__img
    width: 45%
    height: auto
    border: 2px solid #4a576b
    border-radius: 10px
    margin: 10px 0px

.main__funcionalidades
    @extend .main

.funcionaliddaes__h2
    width: 50%
    font-weight: 500 
    font-size: 45px
    margin-bottom: 2em
    font-weight: bold

.h2__span
    color: #585add

.funcionalidades__contener
    display: flex
    justify-content: space-evenly
    align-self: center
    flex-wrap: wrap

.contener__gastos
    width: 35%
    margin-bottom: 1em

.gastos__div
    background-color: #585add
    height: 3px
    border-radius: 6px
    margin-top: 0.5em


.gastos__titulos
    display: flex
    flex-direction: column
    align-items: center

.gastos__h3
   @extend .main__h1
   width: 378px

.precos
    width: 100%
    padding: 60px 0px
    display: flex
    flex-direction: column
    align-items: center

.precos__h4
    @extend .funcionaliddaes__h2
    width: auto

.precos__div
    display: flex
    justify-content: space-evenly

.precos__informacoes
    width: 50%

.informacoes__h4
    font-weight: 500 
    font-size: 30px
    font-weight: bold

.informacoes__p
    font-size: 16px

.informacoes__titulo
    color: #585add
    font-weight: 400 
    font-size: 20px
    margin-bottom: 1em

.informacoes__contener
    @extend .funcionalidades__contener
    justify-content: flex-start

.contener__funcionalidades
    display: flex
    width: 42%
    justify-content: space-around
    margin-left: 1em
    margin-bottom: 1em 

.informacoes__preco
    background-color: #20203575
    width: 30%
    padding: 40px 0px
    display: flex
    flex-direction: column
    align-items: center

.preco__p
    font-weight: 400 
    font-size: 20px
    margin-bottom: 1em

.preco__valor
    font-weight: 600 
    font-size: 35px
    margin-bottom: 1em
    color: #585add

.preco__button
    @extend .main__button
    border: #0c0c0c 1px solid


.perguntas
    margin-top: 1.6em
    padding: 80px 0px
    background-color: #5254d721
    width: 100%
    border-radius: 10px
    height: auto
    display: flex
    flex-direction: column
    align-items: center

.perguntas__h4
    @extend .funcionaliddaes__h2
    width: 75%

.h4__span
    color: #585add

.perguntas__contener
    display: flex
    width: 100%
    flex-wrap: wrap
    justify-content: space-around

.contener__gedf
    background-color: #00000036
    padding: 20px 30px
    width: 35%
    margin-bottom: 4em

.gedf__titulo
    display: flex
    justify-content: space-between

.contener__seguranca
    @extend .contener__gedf

.seguranca__titulo
    @extend .gedf__titulo

.titulo__h5
    @extend .main__h1
    width: auto
    font-size: 30px

.titulo__img
    width: 20px
    height: 20px

.contener__significado
    @extend .contener__gedf

.significado__titulo
    @extend .gedf__titulo

.contener__preco
    @extend .contener__gedf

.preco__titulo
    @extend .gedf__titulo

.contener__conta
    @extend .contener__gedf

.conta__titulo
    @extend .gedf__titulo
    



